<div class="container">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title-text"
          fxFlex
          fxLayout="row"
          fxLayoutAlign="left center"
          fxLayoutGap="15px">
      <mat-icon svgIcon="done"></mat-icon>
      <span>Lists</span>
    </span>

    <span fxLayout="row" fxLayoutAlign="right center" class="action-icons">
        <mat-icon svgIcon="edit"
                  class="edit-icon"
                  *ngIf="!editLists; else editView"
                  (click)="editLists = true">
        </mat-icon>
        <ng-template #editView>
          <span fxLayout="row" fxLayoutAlign="right center" fxLayoutGap="15px">
              <mat-icon svgIcon="cross-thin" class="close-icon" (click)="cancelListsChanges()"></mat-icon>
              <mat-icon svgIcon="save" class="save-icon" (click)="saveListsChanges()"></mat-icon>
          </span>
        </ng-template>
    </span>
  </div>

  <ul fxLayout="column" class="tasks-list">
    <li class="list-item item" fxLayoutAlign="left center" (click)="selectList('All tasks')">
      All tasks
    </li>

    <li class="list-item item" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let list of lists$ | async">
      <mat-icon svgIcon="drag" class="list-icon drag-icon" *ngIf="editLists"></mat-icon>
      <span (click)="selectList(list.listName)"> {{ list.listName }} </span>
      <mat-icon svgIcon="delete"
                class="list-icon delete-icon"
                *ngIf="editLists"
                [ngClass]="listsToRemove[list.listName] === list.listName ? 'to-delete' : ''"
                (click)="deleteList(list.listName)">
      </mat-icon>
    </li>

    <li class="item" fxLayoutAlign="left center">
      <input type="text"
             [(ngModel)]="newList"
             (keydown.enter)="createList()"
             placeholder="+ New List"
             class="new-list-input">
    </li>
  </ul>
</div>

