.container {
  padding: 30px 0;
}

.list-item {
  line-height: 44px;
  list-style-type: none;
}

.list-item:first-child {
  background-color: #f6f6f6;
}

.list-item {
  height: 44px;
  padding: 0 20px 0 30px;
}

.list-item-container, .new-list-input::placeholder {
  position: relative;
  color: #898989;
  font-size: 16px;
  font-family: 'Helvetica Neue';
}

.list-item-text {
  position: absolute;
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.title-text {
  text-transform: uppercase;
  font: 600 16px 'Helvetica Neue';
  color: #0080ff;
}

.new-list-input {
  outline: none;
  border: none;
  padding-left: 39px;
  color: #898989;
}

.list-icon {
  cursor: pointer;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  /deep/ path {
    color: rgb(74, 74, 74);
  }

  &[aria-label='save'] {
    background-color: #7ed321;
  }

  &[aria-label='close'] {
    background-color: #ff001f;
  }

  /deep/ &.to-delete path {
    color: #ff001f;
  }

  /deep/ &[aria-label='save'] path,
  /deep/ &[aria-label='close'] path{
    color: #fff;
  }
}

.drag-icon, .done-icon {
  margin-right: 15px;
}
