<div class="container" fxLayout="row" fxFlex="950px">
  <div class="carousel-container" fxFlex="60">
    <login-carousel></login-carousel>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="auth-container" fxFlex="40">
    <div class="sign-container" fxLayout="column" *ngIf="authStep === 'chooseProvider'">
      <h2 class="title">Sign in</h2>
      <button mat-button class="social-button facebook" fxLayout="row">
        <span fxFlex="20" class="social-icon-container">
          <mat-icon svgIcon="facebook"></mat-icon>
        </span>
        <span fxFlex="80" fxLayoutAlign="center center">Continue with Facebook</span>
      </button>

      <button mat-button class="social-button google" fxLayout="row">
        <span fxFlex="20" class="social-icon-container">
          <mat-icon svgIcon="google"></mat-icon>
        </span>
        <span fxFlex="80" fxLayoutAlign="center center">Continue with Google</span>
      </button>

      <button mat-button
              class="social-button email"
              fxLayout="row"
              (click)="changeStep('checkEmail')"
              fxLayoutAlign="center center">
        <span fxFlex="100">Continue with Email</span>
      </button>
    </div>

    <!--Check email form-->
    <div class="sign-container" fxLayout="column" *ngIf="authStep === 'checkEmail'">
      <div class="email-subtitle-container">
        <mat-icon svgIcon="arrow-back" class="back-btn" (click)="changeStep('chooseProvider')"></mat-icon>
        <h2 class="subtitle">Enter your email</h2>
      </div>
      <div class="email-container">
        <input type="email"
               placeholder="your@email.com"
               [formControl]="emailToCheck"
               class="input"
               (keyup.enter)="checkEmail()">
        <mat-icon svgIcon="arrow-back" class="forward-btn" (click)="checkEmail()"></mat-icon>
      </div>
    </div>

    <!--Sign Up form-->
    <div class="sign-container" fxLayout="column" *ngIf="authStep === 'register'">
      <div class="email-subtitle-container">
        <mat-icon svgIcon="arrow-back" class="back-btn" (click)="changeStep('checkEmail')"></mat-icon>
        <h2 class="subtitle">Welcome</h2>
      </div>
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <input type="email"
                 placeholder="your@email.com"
                 formControlName="email"
                 class="input">
          <span class="password-container">
                <input [type]="passwordVisible ? 'text' : 'password'"
                       placeholder="Your password"
                       formControlName="password"
                       class="input">
            <mat-icon [svgIcon]="passwordVisible ? 'shown-password' : 'hidden-password'"
                      (click)="passwordVisible = !passwordVisible"
                      class="password-icon"></mat-icon>
          </span>
          <button type="submit" [disabled]="registerForm.invalid" class="sign-button"> Create account</button>
        </form>
      </div>
    </div>

    <!--Sign in form-->
    <div class="sign-container" fxLayout="column" *ngIf="authStep === 'login'">
      <div class="email-subtitle-container">
        <mat-icon svgIcon="arrow-back" class="back-btn" (click)="changeStep('checkEmail')"></mat-icon>
        <h2 class="subtitle">Welcome back!</h2>
      </div>
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <input type="email"
                 placeholder="your@email.com"
                 formControlName="email"
                 class="input">
          <span class="password-container">
                   <input type="password"
                          placeholder="Your password"
                          formControlName="password"
                          class="input">
          </span>
          <div fxLayoutAlign="center"> <a class="forgot-link"> Forgot Password? </a> </div>
          <button type="submit" [disabled]="loginForm.invalid" class="sign-button"> Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>
