<div class="container" fxLayout="row" fxFlex="950px">
  <div class="carousel-container" fxFlex="60">
    <todo-carousel></todo-carousel>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="auth-container" fxFlex="40">
    <div class="sign-container" fxLayout="column" *ngIf="authStep === 'chooseProvider'">
      <h2 class="title">Sign in</h2>
      <button mat-button class="social-button facebook" fxLayout="row">
        <span fxFlex="20" class="social-icon-container">
          <mat-icon svgIcon="facebook"></mat-icon>
        </span>
        <span fxFlex="80" fxLayoutAlign="center center">Continue with Facebook</span>
      </button>

      <button mat-button class="social-button google" fxLayout="row" (click)="socialNetworkSignin('google')">
        <span fxFlex="20" class="social-icon-container">
          <mat-icon svgIcon="google"></mat-icon>
        </span>
        <span fxFlex="80" fxLayoutAlign="center center">Continue with Google</span>
      </button>

      <button mat-button
              class="social-button email"
              fxLayout="row"
              (click)="changeStep('checkEmail')"
              fxLayoutAlign="center center">
        <span fxFlex="100">Continue with Email</span>
      </button>
    </div>

    <div class="sign-container" fxLayout="column" *ngIf="authStep === 'checkEmail'">
      <div class="email-subtitle-container">
        <mat-icon svgIcon="arrow-back" class="back-btn" (click)="changeStep('chooseProvider')"></mat-icon>
        <h2 class="subtitle">Enter your email</h2>
      </div>
      <div>
        <input type="email"
               placeholder="your@email.com"
               [formControl]="emailToCheck"
               class="input"
               (keyup.enter)="checkEmail()">
      </div>
    </div>

    <div class="sign-container" fxLayout="column" *ngIf="authStep === 'signIn'">
      <div class="email-subtitle-container">
        <mat-icon svgIcon="arrow-back" class="back-btn" (click)="changeStep('checkEmail')"></mat-icon>
        <h2 class="subtitle">Welcome</h2>
      </div>
      <div>
        <form [formGroup]="signInForm" (ngSubmit)="signIn()">
          <input type="email"
                 placeholder="your@email.com"
                 formControlName="email"
                 class="input">
          <input type="text"
                 placeholder="Your Name"
                 formControlName="name"
                 class="input">
          <span class="password-container">
                <input type="password"
                       placeholder="Your password"
                       formControlName="password"
                       class="input">
          </span>
          <button type="submit" [disabled]="signInForm.invalid" class="sign-button"> Create account</button>
        </form>
      </div>
    </div>


    <div class="sign-container" fxLayout="column" *ngIf="authStep === 'signUp'">
      <div class="email-subtitle-container">
        <mat-icon svgIcon="arrow-back" class="back-btn" (click)="changeStep('checkEmail')"></mat-icon>
        <h2 class="subtitle">Welcome back!</h2>
      </div>
      <div>
        <form [formGroup]="signUpForm">
          <input type="email"
                 placeholder="your@email.com"
                 formControlName="email"
                 class="input">
          <span class="password-container">
                   <input type="password"
                          placeholder="Your password"
                          formControlName="password"
                          class="input">
          </span>
          <div fxLayoutAlign="center"> <a class="forgot-link"> Forgot Password? </a> </div>
          <button type="submit" [disabled]="signUpForm.invalid" class="sign-button"> Create account</button>
        </form>
      </div>
    </div>
  </div>
</div>
