<div class="container">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between">
    <div class="title bold"> {{ listTitle }}</div>
    <div class="buttons" fxLayoutAlign="space-between" fxLayoutGap="20px" fxLayout="row">
      <div class="view-btns">
        <button class="option-btn selected" fxFlex fxLayoutAlign="center">
          <mat-icon svgIcon="three_columns" class="columns-icon"></mat-icon>
        </button>
        <button class="option-btn" fxFlex fxLayoutAlign="center">
          <mat-icon svgIcon="two_columns" class="columns-icon"></mat-icon>
        </button>
      </div>
      <button class="option-btn" fxFlex fxLayoutAlign="center">
        <mat-icon svgIcon="more" class="more-icon"></mat-icon>
      </button>
    </div>
  </div>

  <div class="boards-row" fxLayout="row">
    <!-- DAY CONTAINER -->
      <app-day-container [data]="day" *ngFor="let day of tasks | keyvalue : orderByDay"></app-day-container>
  </div>
</div>
