<div class="container">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between">
    <div class="title bold"> {{ pageTitle }}</div>
    <div class="buttons" fxLayoutAlign="space-between" fxLayoutGap="20px" fxLayout="row">
      <div class="view-btns">
        <button class="option-btn selected" fxFlex fxLayoutAlign="center">
        <mat-icon svgIcon="three_columns" class="columns-icon"></mat-icon>
        </button>
        <button class="option-btn" fxFlex fxLayoutAlign="center">
          <mat-icon svgIcon="two_columns" class="columns-icon"></mat-icon>
        </button>
      </div>
      <button class="option-btn" fxFlex fxLayoutAlign="center">
       <mat-icon svgIcon="more" class="more-icon"></mat-icon>
      </button>
    </div>
  </div>

  <div class="boards-row" fxLayout="row">
    <div class="board" *ngFor="let board of taskBoards; index as boardIndex" fxLayout="column">
      <h2 class="board-title subtitle bold"> {{board.name}} </h2>
      <div class="tasks" *ngFor=" let task of board.tasks; index as taskIndex">
        <div class="task-container" fxLayoutAlign="center center">
          <button class="marker-btn" fxFlex fxLayoutAlign="center center">
            <mat-icon svgIcon="marker" class="marker-icon"></mat-icon>
          </button>

          <!--todo add ... view if string is too long-->
          <p class="task" fxLayoutAlign="start center">
            {{ task.name }}
          </p>
          <button class="delete-btn" fxFlex fxLayoutAlign="center center">
            <mat-icon class="cross-icon" svgIcon="cross" (click)="removeTask(boardIndex, taskIndex)"></mat-icon>
          </button>
        </div>
      </div>
      <div class="board-footer" fxLayout="row" fxLayoutAlign="center center">
        <input type="text"
               placeholder="Click to quickly add a task"
               [(ngModel)]="boardControls[boardIndex].name"
               (keydown)="onEnter($event, boardIndex)"
               class="send-input">

        <button class="send-button" (click)="addTask(i)">
          <mat-icon svgIcon='send' class="send-icon"> </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
