$primary-color: #20a6fc;
$primary-text-color: #4a4a4a;
$main-text-color: #2F2E41;
$secondary-text-color: #A9A6AB;
$background: #F9F9F9;
$success: #24c875;
$error: #eb5858;
$white: #fff;

// todo colors from components, should be unified here
$sidenav-hover-color: #f6f6f6;
$sidenav-text-color: #898989;
$sidenav-blue-color: #0080ff;
$sidenav-red-icon: #ff001f;
$sidenav-green-icon: #7ed321;
$sidenav-icon-hover: #d8d8d8;
