<div class="board" fxLayout="column" fxLayoutAlign="space-between">
  <h2 class="board-title subtitle bold"> {{ data.key }} </h2>
  <div class="board-content" fxLayout="column" fxLayoutGap="10px">
    <div class="task"
         fxLayoutAlign="space-between center"
         fxLayout="row"
         fxLayoutGap="15px"
         [ngClass]="task.done ? 'checked' : ''"
         *ngFor="let task of data.value">
      <button class="marker-btn"
              fxFlexOffset="20px"
              fxLayoutAlign="center center"
              (click)="markTask(task)">
        <mat-icon svgIcon="marker"
                  class="marker-icon"
                  *ngIf="task.done"></mat-icon>
      </button>

      <div fxFlex
           fxLayoutAlign="start center"
           class="task-name">
        {{ task?.taskName?.length > 24 ? task.taskName.slice(0, 24) + '...' : task.taskName }}
        <div class="delete-btn-container">
          <button class="delete-btn" fxLayoutAlign="center center" *ngIf="task.done">
            <mat-icon class="cross-icon" svgIcon="cross" (click)="removeTask(task.id, task.list)"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="board-footer" fxLayout="row" fxLayoutAlign="center center">
    <input type="text"
           placeholder="Click to quickly add a task"
           [(ngModel)]="taskInput"
           (keydown.enter)="addTask(data.key)"
           class="send-input">

    <button class="send-button" (click)="addTask(data.key)">
      <mat-icon svgIcon='send' class="send-icon"></mat-icon>
    </button>
  </div>
</div>

