@import "../../../assets/variables";

.board {
  position: relative;
  width: 335px;
  height: calc(100vh - 200px);
  margin-right: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.board-title {
  margin: 0;
  padding: 8px 24px;
  line-height: 48px;
  text-transform: capitalize;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12)
}

.board-content {
  height: 100%;
  padding: 20px;
  overflow: scroll;
}

.task {
  position: relative;
  width: 100%;
  min-height: 48px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-family: "Helvetica Neue", serif;
  font-size: 16px;
  transition: all 0.3s;

  &:hover {
    border-color: #0080ff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 1px;
    border-top: 1px solid #d8d8d8;
  }
}

.task {
  color: #d8d8d8;

  .task-name {
    color: $primary-text-color;
    position: relative;
  }
  .cross-icon {
    display: flex;
  }
}

.task.checked {
  .task-name {
    color: $secondary-text-color;

    &:after {
      position: absolute;
      top: 8px;
      content: "";
      width: calc(100% - 33px);
      border-top: 1px solid #d8d8d8;
    }
  }
  .marker-btn {
    background-color: #d8d8d8;
    border: none;
  }
}

.board-footer {
  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
  min-height: 53px;
  padding: 0 10px;
}

.marker-btn, .delete-btn {
  width: 20px;
  height: 20px;
  border: 1px solid #A9A6AB;
  background-color: #fff;
  outline: none;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s;
  cursor: pointer;

  &.checked {
    border: none;
    background-color: rgba(169, 166, 171, 0.3);
  }
}

.delete-btn-container {
  position: absolute;
  right: 7px;
  left: auto;
  background-color: #fff;
  padding-left: 8px;

  .delete-btn {
    border: none;
  }
}

.marker-icon {
  display: flex;
  width: 10px;
  height: 10px;

  ::ng-deep path {
    color: #fff;
  }
}

.cross-icon {
  display: flex;
  width: 19px;
  height: 19px;

  ::ng-deep path {
    color: #d8d8d8;
  }
}

.send-input {
  width: 253px;
  height: 30px;
  outline: none;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  padding: 4px 20px;
  margin-right: 10px;
  transition: 0.4s;
  font-size: 14px;

  ::placeholder {
    color: #d8d8d8;
  }
}

.send-input:focus, .send-input:hover {
  border-color: #0080ff;
}

.send-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  width: 40px;
  height: 40px;
  padding: 1px 7px 2px;
  border-radius: 50%;
  transition: 0.4s;

  mat-icon {
    display: flex;
    width: 15px;
    height: 20px;
  }

  ::ng-deep mat-icon path {
    color: #d8d8d8;
  }

  &:hover {
    background-color: #0080ff;
    border-color: #0080ff;

    ::ng-deep mat-icon path {
      color: #fff;
    }
  }


}

.icon {
  display: block;
  width: 15px;
  height: 15px;
  transition: 0.4s;
}

.icon path {
  transition: 0.4s;
}

.send-button:hover .icon path {
  fill: #f9f9f9;
}
